@import './../styles.scss';

.mat-draw-container{
    height: 100dvh;
}

.menu-icon{
    cursor: pointer;
}

.sidenav{
    width: 300px;
}

.logo-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 0px 16px 0px 16px;
    min-height: 56px;

    .logo{
        margin: 12px 0px 12px 0px;
    }
}

mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items{
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 0px;

    .nav-icon{
        color: $prim_color;
    }

    li{
        padding: 0px 16px 0px 16px;
        height: 48px;
        display: flex;
        align-items: center;
        color: $prim_color;
        cursor: pointer;


        mat-icon{
            margin: 0px 16px 0px 0px;
        }

        &:hover{
            background-color: rgba(0,0,0,0.04);
        }

        &:focus{
            outline: none;
        }
    }
}

.router-container{
    padding: 16px 56px 0px 56px;
}