<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>city</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/', user.costomIdName]">
            <td>{{ user.firstName }} {{user.lastName}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>
        
    </table>
</mat-card>

<button (click)="openDialog()" class="user-btn" matFab matTooltip="Add user" matTooltipPosition="above">
    <mat-icon class="user-icon">add</mat-icon>
</button>
